.greeting {
    font-size : 50px;
    color: #fff;
    font-weight: bold;
    font-family: arial;
    padding-left: 5vw;
    padding-top:80px;
    text-align: start;
}

.topSpace  {
    margin-top: 16vh
}

.text {
    line-height: 1.4;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    /* margin-top: 5px; */
    margin-left: 35px;
    /* font-weight: 200; */
    margin-bottom: 35px;
}

.profiles {
    color: #fff;
    text-align: start;
    border-left: 3px solid #d67332;
    margin-top: 70px;
    font-weight: bold;
    font-family: arial;
    padding-left: 5vw;
    padding-top:40px;
    font-size: 70px;
} 

.oring {
    color: #d67332;
}

.file {
    color: #d67332;
    font-size: 40px;
    font-weight: bold;   
}

.attribute{
    text-decoration: none;
    color: #d67332;
}

.attribute:hover{
    text-decoration: none;
    color: #38373d;
}

.button {
    padding: 8px 35px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5vw;
    text-align: start;
    border: 3px solid #d67332;
    border-radius: 8px;
    background-color: transparent;
    font-size : 20px;
    color: #d67332;
    margin-bottom: 40px;
    font-family: arial;
    display: flex;
    transition:  1000ms;
}  

.button:hover {
    background-color: #d67332;
    color: #38373d;
}  

.type {
    font-size : 20px;
    color: #9a9a9b;
    font-family: arial;
    padding-left: 5vw;
    padding-bottom:14px;
    text-align: start
}
